@media only screen and   (max-width: 2700px) {
    .home-title h1{
        color: rgb(255, 0, 0);
    } 
.home-img {
    display: flex;
    justify-content: center;
}
.about-title h1  {
 color: red;
 justify-content: center;
 align-items: center;
}
.body {
    background-size: cover;
    background-position: center;
}
}
@media only screen and (min-width: 600px) and (max-width: 2700px) {
    .home-title h1 {
        color: rgb(231, 231, 231);
        font-size: 60px;
    }
    .about-title h1  {
        color: rgb(255, 253, 253);
        position: relative;
        top: 270px;
        font-size: 60px;
    }
    .body {
        background-size: cover;
        background-position: center;
    }
}
@media only screen and (min-width: 100px) and (max-width: 1200px) {
    .home-title h1 {
        color: rgb(231, 231, 231);
        font-size: 50px;
    }
    .about-title h1  {
        color: rgb(255, 253, 253);
        font-size: 50px;
        }
    .body {
        background-size: cover;
        background-position: center;
    }
    .full {
        width: 600px;
        height: 500px;
    }
}
